<div class="container">
  <div class="flex justify-content-end mb-3">
    <input
      type="text"
      class="p-inputtext"
      [(ngModel)]="inputFilter"
      placeholder="Buscar produtos..."
      (input)="filterProducts(inputFilter)"
    />
  </div>

  <p-dataView
    #dv
    [value]="products"
    [paginator]="true"
    [rows]="5"
    [totalRecords]="totalRecords"
    [loading]="loading"
    [sortField]="'title'"
    [sortOrder]="1"
    layout="list"
  >
    <ng-template pTemplate="header">
      <div class="header-container">
        <h2>Catálogo de Produtos</h2>
      </div>
    </ng-template>

    <ng-template let-product pTemplate="listItem">
      <div class="product-item">
        <img
          [src]="product.image"
          alt="{{ product.title }}"
          class="product-image"
        />
        <div class="product-details">
          <h3 class="title">{{ product.title }}</h3>
          <div class="flex flex-column row-gap-1 mt-2">
            <label>
              Categoria:
              <span class="font-semibold">{{ product.category }}</span>
            </label>
            <label>
              Avaliação:
              <span class="font-semibold">{{ product.rating.rate }}</span>
            </label>
          </div>
        </div>
        <div class="product-price">
          <h3>{{ product.price | currency : "BRL" }}</h3>
          <div class="flex column-gap-2 mt-3">
            <p-button
              tooltipPosition="bottom"
              pTooltip="Excluir"
              (click)="delete(product.id)"
              icon="pi pi-times"
              severity="danger"
              [rounded]="true"
            ></p-button>
            <p-button
              tooltipPosition="bottom"
              pTooltip="Editar"
              (click)="edit(product.id)"
              icon="pi pi-pencil"
              severity="secondary"
              [rounded]="true"
            ></p-button>
            <p-button
              tooltipPosition="bottom"
              pTooltip="Visualizar"
              (click)="preview(product)"
              icon="pi pi-search"
              [rounded]="true"
            ></p-button>
          </div>
        </div>
      </div>
    </ng-template>
  </p-dataView>
</div>

<!-- preview dialog -->
<p-dialog
  header="Detalhes do Produto"
  [(visible)]="visiblePreview"
  [style]="{ width: '100vh' }"
  [dismissableMask]="true"
  [modal]="true"
  [responsive]="true"
>
  <div class="product-item">
    <img
      [src]="selectedProduct?.image"
      alt="{{ selectedProduct?.title }}"
      class="product-image w-15rem"
    />
    <div class="product-details">
      <h3 class="title">{{ selectedProduct?.title }}</h3>
      <p>{{ selectedProduct?.description }}</p>
      <div class="flex flex-column row-gap-1 mt-2">
        <label>
          Categoria:
          <span class="font-semibold">{{ selectedProduct?.category }}</span>
        </label>
        <label>
          Avaliação:
          <span class="font-semibold">{{ selectedProduct?.rating?.rate }}</span>
          <span class="font-semibold">
            ({{ selectedProduct?.rating?.count }} avaliações)</span
          >
        </label>
      </div>
    </div>
    <div class="product-price">
      <h3>{{ selectedProduct?.price | currency : "BRL" }}</h3>
    </div>
  </div>
</p-dialog>

<!-- edit modal -->
<p-dialog
  header="Edição do Produto"
  [(visible)]="visibleEdit"
  [responsive]="true"
  [style]="{ width: '100vh' }"
  [dismissableMask]="true"
  [modal]="true"
  [responsive]="true"
>
  <form [formGroup]="productForm" (ngSubmit)="saveChanges()">
    <div class="product-item">
      <img
        [src]="selectedProduct?.image"
        alt="{{ selectedProduct?.title }}"
        class="product-image w-20rem"
      />
      <div class="product-details">
        <h3 class="title">{{ selectedProduct?.title }}</h3>
        <div class="flex flex-column row-gap-1 mt-2">
          <label for="title">Título</label>
          <input
            id="title"
            type="text"
            class="p-inputtext"
            formControlName="title"
            placeholder="Título do Produto"
          />

          <label for="category">Categoria</label>
          <input
            id="category"
            type="text"
            class="p-inputtext"
            formControlName="category"
            placeholder="Categoria"
          />

          <label for="description">Descrição</label>
          <input
            id="description"
            type="text"
            class="p-inputtext"
            formControlName="description"
            placeholder="Descrição"
          />

          <label for="price">Preço</label>
          <p-inputNumber
            id="price"
            mode="currency"
            currency="BRL"
            locale="pt-BR"
            formControlName="price"
            placeholder="Preço"
            class="w-full"
          ></p-inputNumber>

          <label for="image">Imagem</label>
          <input
            id="image"
            type="text"
            class="p-inputtext"
            formControlName="image"
            placeholder="URL da Imagem"
          />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="flex column-gap-2 justify-content-end mr-5 mt-3">
        <p-button
          label="Cancelar"
          [outlined]="true"
          icon="pi pi-times"
          severity="danger"
          (click)="visibleEdit = false"
        ></p-button>
        <p-button
          label="Salvar"
          [outlined]="true"
          icon="pi pi-check"
          type="submit"
          [disabled]="productForm.invalid"
        ></p-button>
      </div>
    </p-footer>
  </form>
</p-dialog>
